set clipboard^=unnamed,unnamedplus
set surround
set rnu
set nu
set argtextobj
set exchange
set highlightedyank
let g:argtextobj_pairs="(:),{:},<:>,-:>,>:;,>:,"

" Fix paste in visual mode
vnoremap p "_dP

" set noideamarks

" VIM TIPS
" Ctrl+R * = paste in insert mode
" % go to start/end of ()
" { or } go to empty line
" visual mode o - move to other side of visual mode selection
" gd move to local declaration, gD move to global declaration
" zz center cursor
" gv to select previous selection
" Increment numbers: Visual select a row with all numbers, then use g + <Ctrl + a> to increment all relative to eachother
" Macro: record with qa, stop recording with q then run with @a or @@ for last macro

" BASH TIPS
" ls -lh to show human readable list
